/*
    header css
*/
#header_title {
    text-align: center;
    color: red;
}

#header_current_city {
    text-align: center;
}

/*
    navbar css
*/
input {
    float: left;
    color: red;
    
}

label {
    float: left;
    color: red;
    
}

ul {
    list-style-type: none;
}

h3 {
    text-align: center;
    color: red; 
}







/*
    footer css
*/
.footer_ul_class{
    list-style-type:none;
}
#footer_ul_left{
    text-align: center;
}
#footer_ul_right{
    text-align: center;
}
.footer_li_class{
    float:left;
    padding-right:20px;
}
#footer_center_icon{
    float:left;
    border-radius:50%;
}
#footer_incoparated_info{
    padding-left: 30px;
    padding-bottom:10px;
    clear:both;
}
footer{
    padding-top:20px;
    background:#bbb;
}

