/*
    header css
*/

header {
    background-color: #bbb;
}
#header_title {
    text-align: center;
    color: red;
}

#header_current_city {
    text-align: center;
}



/*
    navbar css
*/

.search_bar {
    float: left;
    color: red;
    list-style-type: none;
}
    




.navbar_title {
    text-align: center;
    color: red; 
}

/*
    index css
*/
  #cities_nearby{
        text-align: left;
        background: #bbb;
        
    }

    .boldtable, .boldtable TD, .boldtable TH 
    { 
        font-family:sans-serif; 
        font-size:15pt; 
        color:red; 
        background-color:#bbb; 
        text-align:justify;
        
    }

/*
    users_create css
*/

#users_create, #login {
    text-align: center;
}

span.stretch {
    display:inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}   

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height:190px;
}

div.desc {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    font-family: 'Just Another Hand', cursive;
    font-size: 22px;

}

/*
    footer css
*/
.footer_ul_class{
    list-style-type:none;
}
#footer_ul_left{
    text-align: center;
}
#footer_ul_right{
    text-align: center;
}
.footer_li_class{
    float:left;
    padding-right:20px;
}
#footer_center_icon{
    float:left;
    border-radius:50%;
}
#footer_incoparated_info{
    padding-left: 30px;
    padding-bottom:10px;
    clear:both;
}
footer{
    padding-top:20px;
    background:#bbb;
}


/*
    create ad css
*/

    #mobile_ads{
        height:50px;
    }
    #desktop_ads{
        background:#bbb;
        width:100%;
    }
    .main_body{
        text-align: center;
        background:#ddd;
    }
    .create_ads_checkbox{
        text-align: left;
        padding-left:20px;
    }
    #ads_create_type_category{

    }
    #ads_create_personal_info{

    }
    #ads_create_title_zip {

    }
    #ads_create_details{

    }
    #ads_create_description{

        padding-top:10px;
        padding-bottom:20px;
    }

    table tr[data-href] {
    cursor: pointer;
}
    @media(max-width:767px){
    }
    @media(min-width:768px){
        #ads_create_zip{
            width:100px;
        }
        #ads_create_price{
            width:120px;
        }
    }
    @media(min-width:992px){}
    @media(min-width:1200px){}